.float-drag-dialog-container{
    position: relative;
    width: 100%;
    height: auto;
    background: #FFFFFF;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.float-drag-dialog-top-container{
    position: relative;
    width: 100%;
    min-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.float-drag-dialog-top-container::before{
    content: '';
    width: 32px;
    height: 4px;
    background-color:  #DFDFDF;
    border-radius: 4px;
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.float-drag-dialog-top-tip-container{
    position: absolute;
    top: 22px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    z-index:1;
}

.float-drag-dialog-content-container{
    position: relative;
    width: 100%;
    height: auto;
    /*margin-top: -1px;*/
}