@-webkit-keyframes left-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes left-out{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes right-in{
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes right-in{
    0% {
        transform: translateX(90%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes left-in{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes left-in{
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes right-out{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes right-out{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}